@model ProductDtl
@{
    ViewData["Title"] = "detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int picno = 1;
    string picdisp = "active";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/detailstyle.css">
    <link rel="stylesheet" type="text/css" href="~/assets/lib/css/bootstrap.css">
    <style>
        * {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%
}

body {
    font-size: 13px;
    line-height: 2em;
    color: #666666;
}


/*导航栏*/

.top {
    background-color: #FFFFFF;
    padding: 0.7em 0;
    height: 40px;
    margin-bottom:15px;
}

.navbar-brand {
    padding: 0 0;
}

.navbar-brand > img {
    height: 60px;
    margin-right: 15px;
    margin-top: 5px;
    width: 200px;
}

.navbar-default {
    box-shadow: 12px -5px 40px -12px;
}

.glyphicon {
    font-size: 13px;
}

.body {
    padding-top: 100px;
}
/*banner*/

.carousel {
    height: auto;
    background-color: #FFF;
    margin-top: 30px;
}

.carousel .item {
    height: auto;
    background-color: #FFF;
}

.carousel img {
    width: 100%;
}

button.addtocart {
    display: block;
    /*占据一整行*/
    font-size: 1em;
    font-weight: 400;
    color: #FFF;
    background-color: #663300;
    padding: 10px 18px;
    transition: 0.8s all ease;
    /*0.8 秒的背景颜色渐变过渡*/
    border-radius: 3px;
    /*圆角边框*/
    text-decoration: none;
    /*用于去掉超链接文字的下划线。 */
}

button.addtocart:hover {
    background-color: #00FF66;
}
#goodsp{
    font-size:10px;
    color: #666;
}


.pri {
    color: #c33;
    font-family: "Microsoft YaHei";
}
.jgbox {
    color: #666;
    float: left;
}
.infopri{
    float:left;
    display: inline-block;
}

.pri {
    color: #c33;
    font-family: "Microsoft YaHei";
    font-size:20px;
}

#pricon{
    background: #d8d5d5;
    margin-top: 5px;
    position: relative;
}

.d-header {
    height: 47px;
    background: #fff;
    width: 988px;
}

.d-tab {
    height: 48px;
    position: absolute;
    overflow: hidden;
}

.d-tab li.on {
    line-height: 44px;
    height: 46px;
    background: 0;
    padding: 0 24px;
    border-bottom: 0;
    color: #c33;
}

.d-tab li {
    float: left;
    height: 48px;
    line-height: 48px;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    color: #333;
    cursor: pointer;
    position: relative;
    margin-left: -1px;
    padding: 0 25px;
    position: relative;
}

 li {
    list-style: none;
    margin: 0;
    padding: 0;

    display: list-item;
    text-align: -webkit-match-parent;

}

.dtl {
    width: 990px;
    float: left;
    position: relative;
    z-index: 1;
    padding-left:100px;
}

.dtl-hr{
    height:1px;border:none;border-top:1px dashed #0066CC;
}

.disp{
    text-align: center;
    margin-left: 100px;
}

.disp li {
    font-family: 宋体;
    padding: 24px 0px 17px 18px;
    border-bottom: 1px dotted rgb(204, 204, 204);
}
.comment-info{
    margin-top: 20px;
}
.comment-tx {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 5px;
    float: left;
}

.name {
    color: #666;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    width: 60px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Arial;
}

.comment-con {
    width: 863px;
    float: left;
    padding: 10px 0 0 17px;
}
.starBox {
    height: 24px;
    line-height: 24px;
}
.score {
    float: left;
    height: 24px;
}
.starBox .time{
    float: right;
}

.title{
    float: left;
}

.feature{
    padding:30px 0;
}

.feature-heading{
    font-size:50px;
    color:#06C;
    margin-top:20px;
}

.feature-heading .text-muted{
    font-size:28px;
    color:#999;
}

.title-img{
    height:auto;
    width:250px;
    margin-right:5px;
    margin-top:5px;
}

.tab-content{
    margin:5px;
    text-align:center;
}

.choose{
    border:1px solid silver;
    padding:10px;
}

.carousel{
    height:500px;
    background-color:#000;
    margin-bottom:30px;
}
.carousel .item{
    height:500px;
    background-color:#000;
}

.carousel img{
    width:100%;
    background-color:#000;
}

.carousel-caption p{
    margin-bottom:20px;
    font-size:16px;
    line-height:28px;
}
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!--小点点-->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                @*<div class="item active">
                                    <a href="#"><img src="~/images/" alt="1" /></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="~/images/" alt="2" /></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="~/images/" alt="3" /></a>
                                </div>*@
                                @foreach (Ppics pc in Model.productpics)
                                {
                                    <div class="item @picdisp">
                                        <a href="#"><img src="~/images/@pc.PicName" alt="@picno" /></a>
                                    </div>
                                    picno++;
                                    picdisp = null;
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>@Model.p.ProductName</h3>
                        <p id="goodsp">&nbsp;&nbsp;&nbsp;&nbsp;酒是人类饮用历史最长的一种植物发酵酒精饮料，饮用酒是醇类（有机化合物其中一大类别）的其中一种，其最基本定义是指饮料中所含的主要成份是乙醇（酒精）。陈年老酒代表着一段珍贵的岁月印记，是对时间的纪念更是对人生重要时刻的回味。</p>
                        <div>
                            <div id="pricon">
                                <div class="jgbox">价格：</div>
                                <div class="infopri">
                                    <span class="pri"><em>¥</em><strong>@Model.p.Price</strong></span>
                                </div>
                            </div>
                            <br>
                            <br>
                            <a href="/Cart/AddCart/@Model.p.ProductNo" class="addtocart">添加购物车</a>
</div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="Tab-summary">
            <div class="container">
                <!--定义标签-->
                <ul class="nav nav-tabs" role="tablist" id="tab-list">
                    <li class="active"><a href="#tab-spxq" role="tab" data-toggle="tab">商品详情</a></li>
                    <li><a href="#tab-ggcs" role="tab" data-toggle="tab">规格参数</a></li>
                    <li><a href="#tab-sppj" role="tab" data-toggle="tab">商品评价</a></li>
                </ul>
                <!--标签内容-->
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-spxq">
                        <div class="row feature">
                            <div class="col-md-8">
                                <div class="disp">
                                    <img src="~/images/@Model.pnd.PicName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-ggcs">
                        <div class="row feature">
                            <div class="col-md-8">
                                <table width="600px" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <th class="bg">香型</th>
                                            <th>@Model.pdtl.XiangXing</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">原料</th>
                                            <th>@Model.pdtl.Yuanliao</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">储藏条件</th>
                                            <th>@Model.pdtl.Chucangtiaojian</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">酒厂</th>
                                            <th>@Model.pdtl.Jiuchang</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">净含量</th>
                                            <th>@Model.pdtl.Jinghanliang</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">酿造工艺</th>
                                            <th>@Model.pdtl.Gongyi</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">酒精度</th>
                                            <th>@Model.pdtl.Jiujingdu</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">箱规</th>
                                            <th>@Model.pdtl.Xianggui</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-sppj">
                        <div class="row feature">
                            <div class="col-md-8">
                                <ul>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/assets/js/server.js"></script>
    <script type="text/javascript" src="~/assets/js/index.js"></script>
</body>
</html>