@model ProductDtl
@{
    ViewData["Title"] = "detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int picno = 1;
    string picdisp = "active";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/detailstyle.css">
    <link rel="stylesheet" type="text/css" href="~/assets/lib/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!--小点点-->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                @*<div class="item active">
                                    <a href="#"><img src="~/images/" alt="1" /></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="~/images/" alt="2" /></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="~/images/" alt="3" /></a>
                                </div>*@
                                @foreach (Ppics pc in Model.productpics)
                                {
                                    <div class="item @picdisp">
                                        <a href="#"><img src="~/images/@pc.PicName" alt="@picno" /></a>
                                    </div>
                                    picno++;
                                    picdisp = null;
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>@Model.p.ProductName</h3>
                        <p id="goodsp">&nbsp;&nbsp;&nbsp;&nbsp;酒是人类饮用历史最长的一种植物发酵酒精饮料，饮用酒是醇类（有机化合物其中一大类别）的其中一种，其最基本定义是指饮料中所含的主要成份是乙醇（酒精）。陈年老酒代表着一段珍贵的岁月印记，是对时间的纪念更是对人生重要时刻的回味。</p>
                        <div>
                            <div id="pricon">
                                <div class="jgbox">价格：</div>
                                <div class="infopri">
                                    <span class="pri"><em>¥</em><strong>@Model.p.Price</strong></span>
                                </div>
                            </div>
                            <br>
                            <br>
                            <a href="/Cart/AddCart/@Model.p.ProductNo" class="addtocart">添加购物车</a>
</div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="Tab-summary">
            <div class="container">
                <!--定义标签-->
                <ul class="nav nav-tabs" role="tablist" id="tab-list">
                    <li class="active"><a href="#tab-spxq" role="tab" data-toggle="tab">商品详情</a></li>
                    <li><a href="#tab-ggcs" role="tab" data-toggle="tab">规格参数</a></li>
                    <li><a href="#tab-sppj" role="tab" data-toggle="tab">商品评价</a></li>
                </ul>
                <!--标签内容-->
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-spxq">
                        <div class="row feature">
                            <div class="col-md-8">
                                <div class="disp">
                                    <img src="~/images/@Model.pnd.PicName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-ggcs">
                        <div class="row feature">
                            <div class="col-md-8">
                                <table width="600px" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <th class="bg">香型</th>
                                            <th>@Model.pdtl.XiangXing</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">原料</th>
                                            <th>@Model.pdtl.Yuanliao</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">储藏条件</th>
                                            <th>@Model.pdtl.Chucangtiaojian</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">酒厂</th>
                                            <th>@Model.pdtl.Jiuchang</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">净含量</th>
                                            <th>@Model.pdtl.Jinghanliang</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">酿造工艺</th>
                                            <th>@Model.pdtl.Gongyi</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">酒精度</th>
                                            <th>@Model.pdtl.Jiujingdu</th>
                                        </tr>
                                        <tr>
                                            <th class="bg">箱规</th>
                                            <th>@Model.pdtl.Xianggui</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-sppj">
                        <div class="row feature">
                            <div class="col-md-8">
                                <ul>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="comment-info">
                                            <div class="comment-tx"><img src="http://misc.jiuxian.com/img/usercenter/photo.jpg" width="60" height="60" onerror="this.src='http://misc.jiuxian.com/img/usercenter/photo.jpg';"></div>
                                            <p class="name">海阔天空</p>
                                        </div>
                                        <div>
                                            <div class="starBox">
                                                <p class="score"><span class="title">评分：☆☆☆☆☆</span></p>
                                                <p class="time"> 2017-05-31 13:02:29</p>
                                                <p class="score"><span class="title">&nbsp;&nbsp;心得：包装给力,窖香浓郁,送货快,老牌名酒。</span></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/assets/js/server.js"></script>
    <script type="text/javascript" src="~/assets/js/index.js"></script>
</body>
</html>