@{
    ViewData["Title"] = "主页";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" http-equiv="content-type" content="text/html">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style_index.css"> 
    
    <title>主页</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <!--导航-->
            <div class="dh_nav col-md-4">
                <div class="dhbtn">
                    <h2>全部商品分类</h2> 
                    <table>
                        @foreach (ProductCat typeGroup in Model.productCats)
                        {
                            <tr><td style="color:midnightblue;font:12px 微软雅黑;text-align:center;"><span>@typeGroup.typeName</span></td></tr>
                            <tr>
                                <td style="width:100%;padding-top:0px;padding-bottom:10px">
                                    @foreach (ProductClassification n in typeGroup.types)
                                    {
                                        <div style="float:left;text-align:center;width:50%"><a href='Home/Catalog?typeId=@n.ObjId&typeName=@n.Cname'>@n.Cname</a></div>
                                    }
                                </td>
                            </tr>
                        }
                    </table>                    
                </div>
            </div>

            <div id="AdCarousel" class="carousel slide col-md-8" data-ride="carousel">
                <!--轮播指标-->
                <ol class="carousel-indicators">
                    <li data-target="#AdCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#AdCarousel" data-slide-to="1"></li>
                    <li data-target="#AdCarousel" data-slide-to="2"></li>
                    <li data-target="#AdCarousel" data-slide-to="3"></li>
                </ol>
                <!--轮播项目-->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="assets/img/banner1.jpg" alt="1" />
                    </div>
                    <div class="item">
                        <img src="assets/img/banner2.jpg" alt="2" />
                    </div>
                    <div class="item">
                        <img src="assets/img/banner3.jpg" alt="3" />
                    </div>
                    <div class="item">
                       <img src="assets/img/banner4.jpg" alt="4" />
                    </div>
                    <a class="carousel-control left" href="#AdCarousel" data-slide="prev" role="button">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#AdCarousel" data-slide="next" role="button">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="row">
            <div class="discount">
                <h1>诚意推荐</h1>
                <div class="list">
                    @foreach (ProductList pl in Model.recProducts)
                    {
                        <dl class="col-md-2">
                            <dt>
                                <a href='Home/Detail?PNo=@pl.p.ProductNo'><img class="img-responsive" src="~/images/@pl.pn.PicName"></a><br />
                            </dt>
                            <dd>@pl.p.ProductName</dd>
                            <dd>售价:￥@pl.p.Price</dd>
                            <dd>
                                <a href="/Cart/AddCart/@pl.p.ProductNo" class="addtocart">添加购物车</a>
                            </dd>
                        </dl>
                    }                    
                    <div class="col-md-4">
                        <h3>酒类百科</h3>
                        @foreach (string s in ViewBag.news)
                        {
                            <a href="news.cshtml"><span style="font :15px 微软雅黑;color:steelblue;">@s</span></a><br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="discount">
                <h1>优惠特卖</h1>
                <div class="list">
                    @foreach (ProductList pl in Model.disProducts)
                    {
                        <dl class="col-md-2">
                            <dt>
                                <a href='Home/Detail?PNo=@pl.p.ProductNo'><img class="img-responsive" src="~/images/@pl.pn.PicName"></a><br />
                            </dt>
                            <dd>@pl.p.ProductName</dd>
                            <dd>售价:￥@pl.p.Price</dd>
                            <dd>
                                <a href="/Cart/AddCart/@pl.p.ProductNo" class="addtocart">添加购物车</a>
                            </dd>
                        </dl>
                    }                    
                </div>
            </div>
        </div>
    </div>    
</body>
</html>